parameters:
    paths:
        - src
    excludePaths:
        analyse:
        - src/Plugin/JWT/*

    ignoreErrors:
        -   # Too variants of parameters signature between PHP versions
            message: '#Parameter \#3 \$options of function setcookie expects .+#'
            reportUnmatched: false
            path: src/Enabler.php
            count: 2

        -   # Weird bug by PhpStan - the `path` fiealt is still nullable
            message: '#Offset ''path'' on array.+ on left side of \?\? always exists and is not nullable\.#'
            path: src/Plugin/SignedUrl.php
            count: 1

        -
            message: '#.+ has unknown class (OpenSSLAsymmetricKey|OpenSSLCertificate) as its type.#' # PHP 7 compatibility
            reportUnmatched: false

        -
            message: '#.+ has invalid type (OpenSSLAsymmetricKey|OpenSSLCertificate).#' # PHP 7 compatibility
            reportUnmatched: false
